@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  width: 1170px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  background-color: #feafc3;
}

.button {
  display: inline-block;
  padding: 12px 32px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  border: 4px solid;
  border-radius: 26px;
}

.button-white {
  color: #2d3440;
  background-color: #fcfcfc;
  border-color: #ffcbd8;
}

.button-red {
  color: #fcfcfc;
  background-color: #ff2f64;
  border-color: #feafc3;
}

.field {
  padding: 13px 15px;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

.field::placeholder {
  color: #b9b9b9;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  display: flex;
  align-items: center;
  padding: 22px 0;
  line-height: 20px;
}

.logo {
  margin-right: 16px;
}

.main-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav-site {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sub-menu {
  display: none;
  list-style: none;
}

.site-link,
.sub-link {
  text-decoration: none;
  color: #2d3440;
}

.site-link {
  display: block;
  padding: 8px 16px;
  border-radius: 26px;
}

.site-link-current {
  background-color: #ff4a78;
}

.sub-promo {
  font-weight: 700;
  border-bottom: 1px solid #b9b9b9;
}

.user-phone {
  display: block;
  margin-left: auto;
  margin-right: 16px;
  font-weight: 700;
  color: #2d3440;
  text-decoration: none;
}

.nav-user {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
}

.user-link {
  display: block;
  margin-right: 16px;
  padding: 6px 16px 6px 40px;
  border-radius: 26px;
  text-decoration: none;
  color: #2d3440;
  background-color: #ffcbd8;
  background-repeat: no-repeat;
}

.user-item:last-child .user-link {
  margin-right: 0;
}

.user-search {
  padding: 16px;
  background-image: url("../img/search-icon.svg");
  background-position: 50% 50%;
}

.user-login {
  background-image: url("../img/log-in-icon.svg");
  background-position: calc(50% - 18px) 50%;
}

.user-cart {
  background-image: url("../img/cart-icon-black.svg");
  background-position: calc(50% - 24px) 50%;
}

.user-cart-full {
  background-image: url("../img/full-cart-icon-black.svg");
  background-position: calc(50% - 34px) 50%;
}

.slider {
  padding-top: 21px;
  padding-bottom: 26px;
  margin-bottom: 80px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-text-list {
  margin-right: 62px;
}

.slider-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2d3440;
}

.slider-text-item {
  padding-left: 70px;
  display: none;
}

.slider-text-current {
  display: block;
}

.slider-images-list {
  display: flex;
  align-items: center;
}

.slider-image-item::before {
  content: "";
  position: absolute;
  display: block;
  top: 100px;
  width: 312px;
  height: 312px;
  border-radius: 50%;
  background-color: #ffcbd8;
}

.slider-text {
  margin: 0;
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
}

.slider-image-item {
  position: relative;
  margin-right: 41px;
  width: 100px;
  transform: scale(0.29);
  transform-origin: left;
  opacity: 0.4;
}

.slider-image-item:last-child {
  margin-right: 0;
}

.image-item-current {
  transform: none;
  opacity: 1;
  margin-right: 62px;
  width: 306px;
}

.slider-image {
  position: relative;
}

.slider-pagination {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.slider-pagination-item + .slider-pagination-item {
  margin-left: 8px;
}

.slider-pagination-button {
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: #fcfcfc;
  opacity: 0.3;
}

.pagination-button-current {
  opacity: 1;
}

.slider-nav {
  position: absolute;
  top: 258px;
  left: 542px;
  display: flex;
  justify-content: space-between;
  min-width: 350px;
}

.slider-button {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #fcfcfc;
  background-color: rgba(252, 252, 252, 0.3);
  background-repeat: no-repeat;
}

.slider-button.previous {
  background-image: url("../img/arrow-left-icon.svg");
  background-position: calc(50% - 2px) 50%;
}

.slider-button.next {
  background-image: url("../img/arrow-right-icon.svg");
  background-position: 50% 50%;
}

.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.social-item {
  margin-right: 8px;
}

.social-item:last-child {
  margin-right: 0;
}

.promo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin-bottom: 80px;
}

.promo-title {
  grid-column: 1 / -1;
  margin: 0 auto 56px auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2d3440;
}

.promo-item {
  padding: 40px 200px 40px 40px;
  background-color: #ff7799;
  border-radius: 16px;
  background-repeat: no-repeat;
}

.promo-item-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.promo-text {
  margin: 0;
  margin-bottom: 28px;
  color: #2d3440;
}

.promo-strawberry {
  background-image: url("../img/raspberry-cone.png");
  background-position: calc(100% - 15px) 100%;
}

.promo-marshmallow {
  background-image: url("../img/marshmallow-cone.png");
  background-position: calc(100% - 7px) 100%;
}

.popular-products {
  margin-bottom: 80px;
}

.popular-title {
  margin: 0 auto 56px auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2d3440;
}

.product-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 40px;
  list-style: none;
}

.product-card {
  margin-top: 51px;
  padding: 0 40px 24px 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.product-card-image {
  margin-top: -51px;
  margin-bottom: 16px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.product-card-title {
  margin-top: auto;
  margin-bottom: 8px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.product-card-description {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.product-card-price {
  margin-right: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.product-card-button {
  height: 32px;
  width: 32px;
  background-color: #ff2f64;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 1px) 50%;
  border-radius: 26px;
}

.features {
  margin-bottom: 80px;
  padding: 24px;
  background-color: #fcc850;
  background-image: url("../img/waffle-background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.features-container {
  margin: 0;
  padding: 56px 40px;
  background-color: #fcfcfc;
  border-radius: 16px;
}

.features-title {
  margin: 0;
  margin-bottom: 56px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  text-align: center;
}

.features-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-template-columns: 1fr 1fr;
  gap: 40px 30px;
}

.features-item {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 16px;
}

.features-item::before {
  content: "";
  display: block;
  min-width: 48px;
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.features-production::before {
  background-image: url("../img/icecream-icon.svg");
}

.features-suppliers::before {
  background-image: url("../img/cow-icon.svg");
}

.features-ingredients::before {
  background-image: url("../img/leaf-icon.svg");
}

.features-delievery::before {
  background-image: url("../img/thermometer-icon.svg");
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin-bottom: 80px;
}

.blog-item {
  padding: 32px 200px 62px 32px;
  border-radius: 16px;
  background-color: #fcfcfc;
  background-image: url("../img/blog-background.jpg");
  background-repeat: no-repeat;
}

.blog-title {
  margin: 0;
}

.blog-text {
  margin: 0;
  margin-bottom: 12px;
  line-height: 20px;
}

.blog-url {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: #2d3440;
}

.subscription {
  padding: 6px;
  border-radius: 16px;
  background-color: #fcfcfc;
  background-image: url("../img/post-background.jpg");
  background-repeat: no-repeat;
}

.subscription-container {
  margin: 0;
  padding: 26px 24px 24px 26px;
  border-radius: 16px;
  background-color: #fcfcfc;
}

.subscription-text {
  margin: 0;
  margin-bottom: 40px;
}

.subscription-form {
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 20px;
}

.delievery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  align-items: center;
  margin-bottom: 80px;
  padding: 64px 64px 64px 100px;
  background-color: #fcfcfc;
  background-image: url("../img/delievery-background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.delievery-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
}

.delievery-text {
  margin: 0;
  margin-left: -1px;
  padding: 0;
}

.delievery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  column-gap: 16px;
  padding: 40px 40px 38px 40px;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
}

.delievery-form-text {
  grid-column: 1 / -1;
  margin: 0;
  margin-bottom: 32px;
}

.delievery-label {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
}

.delievery-form-date .delievery-label::after {
  content: "";
  display: inline-block;
  margin-left: 4px;
  width: 14px;
  height: 14px;
  background-image: url("../img/info-icon.svg");
  background-repeat: no-repeat;
}

.delievery-field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.delievery-form-date {
  margin-bottom: 20px;
}

.delievery-form-phone {
  margin-bottom: 20px;
}

.delievery-form-address {
  grid-column: 1 / -1;
  margin-bottom: 28px;
}

.delievery-form-address .delievery-label::after {
  content: "";
  display: inline-block;
  margin-left: 4px;
  width: 14px;
  height: 14px;
  background-image: url("../img/info-icon.svg");
  background-repeat: no-repeat;
}

.delievery .button {
  grid-column: 1 / -1;
  margin-left: auto;
  margin-right: auto;
}

.contacts {
  display: grid;
  justify-content: start;
  padding: 64px;
  background-color: #fcfcfc;
  background-image: url("../img/contacts-background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.contacts-container {
  padding: 40px 40px 36px 40px;
  min-width: 343px;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.contacts-list {
  margin: 0;
}

.contacts-item {
  margin-bottom: 12px;
}

.contacts-description {
  margin: 0;
  margin-bottom: 28px;
}

.contacts-address,
.contacts-phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.contacts-address {
  margin-bottom: 24px;
}

.contacts-phone {
  text-decoration: none;
}

.contacts-work-time {
  display: block;
  font-size: 14px;
  line-height: 20px;
}

.page-footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  column-gap: 30px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer-social {
  grid-column: 1 / 4;
}

.footer-menu {
  grid-column: 5 / 9;
}

.footer-nav {
  margin: 0;
  padding: 0;
  margin-left: 7px;
  padding-left: 24px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 18px;
  row-gap: 4px;
  list-style: none;
}

.footer-nav-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.nav-item-featured {
  position: relative;
}

.nav-item-featured::before {
  content: "";
  display: block;
  position: absolute;
  top: 22%;
  left: -22px;
  width: 16px;
  height: 16px;
  background-image: url("../img/heart-icon.svg");
  background-repeat: no-repeat;
}

.nav-link-featured {
  font-weight: 700;
}

.footer-copyright {
  grid-column: 10 / 13;
  margin-left: 63px;
}

.author-img-link {
  display: block;
  margin-bottom: 14px;
}

.copyright-text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
}

.author-link {
  color: inherit;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.catalog-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
}

.catalog-filter-group {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.select-control {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-filter-button {
  padding: 6px 52px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
  background-color: #ffcbd8;
  border: 2px solid #fcfcfc;
  border-radius: 26px;
}

.pagination {
  list-style: none;
}

.pagination-current {
  background-color: #fcfcfc;
  border-radius: 50%;
}

.pagination-link {
  width: 24px;
  height: 24px;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
}

.pagination-prev {
  background-image: url("../img/arrow-left-icon.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.pagination-next {
  background-image: url("../img/arrow-right-icon.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.pagination-disabled {
  opacity: 0.2;
}
