@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --basic-extra-dark: #2d3440;
  --basic-dark: #565c66;
  --basic-neutral: #b9b9b9;
  --basic-light: #e7e7e7;
  --basic-extra-light: #fcfcfc;
  --basic-light-transparent: rgba(252, 252, 252, 0.3);
  --basic-white: #ffffff;
  --special-extra-bright: #ff2f64;
  --special-bright: #ff4a78;
  --special-neutral: #ff7799;
  --special-light: #feafc3;
  --special-extra-light: #ffcbd8;
  --special-blue: #69a9ff;
  --special-yellow: #fcc850;
  --status-error: #ea5454;
  --status-warning: #fd912e;
  --status-success: #00e484;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  width: 1170px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark);
  background-color: var(--body-background-color);
}

.body-pink {
  --body-background-color: var(--special-light);
}

.body-blue {
  --body-background-color: var(--special-blue);
}

.body-yellow {
  --body-background-color: var(--special-yellow);
}

.button {
  display: inline-block;
  padding: 12px 32px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  outline: 4px solid;
  border-radius: 26px;
  border: none;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.button:disabled {
  font-weight: 400;
}

.button-white {
  color: var(--basic-extra-dark);
  background-color: var(--basic-extra-light);
  outline-color: rgba(252, 252, 252, 0.4);
}

.button-white:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline-color: var(--basic-extra-light);
}

.button-white:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 0;
}

.button-white:disabled {
  color: var(--basic-neutral);
  background-color: var(--basic-light);
  outline-color: rgba(252, 252, 252, 0.4);
  pointer-events: none;
}

.button-red {
  color: var(--basic-extra-light);
  background-color: var(--special-extra-bright);
  outline-color: rgba(255, 47, 100, 0.3);
}

.button-red:hover {
  color: var(--basic-extra-dark);
  background-color: var(--basic-light-transparent);
  outline-color: var(--special-extra-bright);
}

.button-red:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 0;
}

.button-red:disabled {
  color: var(--basic-dark);
  background-color: var(--basic-neutral);
  outline-color: rgba(185, 185, 185, 0.3);
  pointer-events: none;
}

.field {
  padding: 13px 15px;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  border: 1px solid var(--basic-neutral);
  border-radius: 4px;
}

.field::placeholder {
  color: var(--basic-neutral);
}

.field:hover,
.field:focus {
  border-color: var(--basic-extra-dark);
}

.field:focus {
  outline: 1px solid var(--basic-extra-dark);
}

.field:not(:placeholder-shown):not(:focus):invalid {
  border-color: var(--status-error);
}

.field:focus:invalid {
  border-color: var(--status-error);
  outline: 1px solid var(--status-error);
}

.field::placeholder {
  color: var(--basic-neutral);
  opacity: 1;
}

.field:disabled {
  color: var(--basic-extra-dark);
  background-color: var(--basic-light);
  border-color: var(--basic-neutral);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  display: flex;
  align-items: center;
  padding: 22px 0;
  line-height: 20px;
}

.logo {
  margin-right: 16px;
}

.main-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav-site {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sub-menu {
  display: none;
  list-style: none;
}

.site-link,
.sub-link {
  text-decoration: none;
  color: var(--basic-extra-dark);
}

.site-link {
  display: block;
  padding: 8px 16px;
  border-radius: 26px;
}

.site-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.site-link:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: -2px;
}

.site-link:active {
  background-color: var(--basic-extra-light);
}

.site-link-current {
  color: var(--basic-extra-light);
  background-color: var(--special-bright);
}

.sub-promo {
  font-weight: 700;
  border-bottom: 1px solid var(--basic-neutral);
}

.user-phone {
  display: block;
  margin-left: auto;
  margin-right: 16px;
  font-weight: 700;
  color: var(--basic-extra-dark);
  text-decoration: none;
}

.nav-user {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
}

.user-link {
  display: block;
  margin-right: 16px;
  padding: 6px 16px 6px 40px;
  border-radius: 26px;
  text-decoration: none;
  color: var(--basic-extra-dark);
  background-color: var(--basic-light-transparent);
  background-repeat: no-repeat;
}

.user-item:last-child .user-link {
  margin-right: 0;
}

.user-search {
  padding: 16px;
  background-image: url("../img/search-icon.svg");
  background-position: 50% 50%;
}

.user-login {
  background-image: url("../img/log-in-icon.svg");
  background-position: calc(50% - 18px) 50%;
}

.user-cart {
  background-image: url("../img/cart-icon-black.svg");
  background-position: calc(50% - 24px) 50%;
}

.user-cart-full {
  background-image: url("../img/full-cart-icon-black.svg");
  background-position: calc(50% - 34px) 50%;
}

.user-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.user-link:focus {
  box-shadow: inset 0 0 0 2px var(--basic-extra-dark);
  outline: none;
}

.user-link:active {
  background-color: var(--basic-extra-light);
}

.slider {
  padding-top: 21px;
  padding-bottom: 26px;
  margin-bottom: 80px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-text-list {
  margin-right: 62px;
}

.slider-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: var(--basic-extra-dark);
}

.slider-text-item {
  padding-left: 70px;
  display: none;
}

.slider-text-current {
  display: block;
}

.slider-images-list {
  display: flex;
  align-items: center;
}

.slider-image-item::before {
  content: "";
  position: absolute;
  display: block;
  top: 100px;
  width: 312px;
  height: 312px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.35);
}

.slider-text {
  margin: 0;
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.slider-image-item {
  position: relative;
  display: flex;
  justify-content: center;
  margin-right: 41px;
  width: 100px;
  transform: scale(0.29);
  opacity: 0.4;
}

.slider-image-item:last-child {
  margin-right: 0;
}

.image-item-current {
  transform: none;
  opacity: 1;
  margin-right: 62px;
  width: 306px;
}

.slider-image {
  position: relative;
}

.slider-pagination {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.slider-pagination-item + .slider-pagination-item {
  margin-left: 8px;
}

.slider-pagination-button {
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: var(--basic-light-transparent);
  outline: 1px solid transparent;
  outline-offset: -1px;
  cursor: pointer;
}


.slider-pagination-button:hover {
  outline: 1px solid var(--basic-extra-light);
  outline-offset: -1px;
}

.slider-pagination-button:focus {
  outline: 1px solid var(--basic-extra-dark);
  outline-offset: -1px;
}

.pagination-button-current {
  background-color: var(--basic-extra-light);
  pointer-events: none;
}

.slider-nav {
  position: absolute;
  top: 258px;
  left: 540px;
  display: flex;
  justify-content: space-between;
  min-width: 350px;
}

.slider-button {
  width: 38px;
  height: 38px;
  padding: 9px;
  border-radius: 50%;
  border: 2px solid var(--basic-extra-light);
  background-color: var(--basic-light-transparent);
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider-button-icon {
  fill: var(--basic-extra-light);
}

.slider-button:hover {
  background-color: var(--basic-extra-light);
}

.slider-button:focus {
  border: 2px solid var(--basic-extra-dark);
  background-color: var(--basic-light-transparent);
  outline: none;
}

.slider-button:hover .slider-button-icon {
  fill: var(--basic-extra-dark);
}

.slider-button:focus .slider-button-icon {
  fill: var(--basic-extra-dark);
}

.slider-button:disabled {
  pointer-events: none;
  opacity: 0.4;
}

.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.social-item {
  margin-right: 8px;
  width: 28px;
  height: 28px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  background-color: var(--basic-extra-light);
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  overflow: hidden;
  border: 2px solid rgba(252, 252, 252, 0.2);
  border-radius: 50%;
}

.social-link:focus {
  border: 2px solid var(--basic-extra-dark);
  outline: none;
}

.social-icon {
  fill: var(--body-background-color);
}

.social-link:hover .social-icon {
  fill: var(--basic-extra-dark);
}

.social-link:focus .social-icon {
  fill: var(--basic-extra-dark);
}

.promo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin-bottom: 80px;
}

.promo-title {
  grid-column: 1 / -1;
  margin: 0 auto 56px auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: var(--basic-extra-dark);
}

.promo-item {
  padding: 40px 200px 40px 40px;
  background-color: var(--special-neutral);
  border-radius: 16px;
  background-repeat: no-repeat;
}

.promo-item-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-extra-dark);
}

.promo-text {
  margin: 0;
  margin-bottom: 32px;
  color: var(--basic-extra-dark);
}

.promo-strawberry {
  background-image: url("../img/raspberry-cone.png");
  background-position: calc(100% - 15px) 100%;
}

.promo-marshmallow {
  background-image: url("../img/marshmallow-cone.png");
  background-position: calc(100% - 7px) 100%;
}

.popular-products {
  margin-bottom: 80px;
}

.popular-title {
  margin: 0 auto 56px auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: var(--basic-extra-dark);
}

.product-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 40px;
  list-style: none;
}

.product-card {
  margin-top: 51px;
  padding: 0 40px 24px 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--basic-extra-light);
  border-radius: 8px;
}

.product-card-image {
  margin-top: -51px;
  margin-bottom: 16px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.product-card-title {
  margin-top: auto;
  margin-bottom: 8px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.product-card-description {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.product-card-price {
  margin-right: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.product-card-button {
  height: 32px;
  width: 32px;
  padding: 8px;
  background-color: var(--special-extra-bright);
  border-radius: 26px;
}

.product-card-icon {
  fill: var(--basic-extra-light);
}

.product-card-button:hover {
  background-color: var(--basic-light-transparent);
  box-shadow: inset 0 0 0 2px var(--special-extra-bright);
  outline: none;
}

.product-card-button:focus {
  box-shadow: inset 0 0 0 2px var(--basic-extra-dark);
  outline: none;
  background-color: var(--special-extra-bright);
}

.product-card-button:hover .product-card-icon {
  fill: var(--basic-extra-dark);
}

.product-card-button:focus .product-card-icon {
  fill: var(--basic-extra-light);
}

.product-card-button:disabled {
  pointer-events: none;
  background-color: var(--basic-neutral);
}

.product-card-button:disabled .product-card-icon {
  fill: var(--basic-dark);
}

.features {
  margin-bottom: 80px;
  padding: 24px;
  background-color: #fcc850;
  background-image: url("../img/waffle-background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.features-container {
  margin: 0;
  padding: 56px 40px;
  background-color: var(--basic-extra-light);
  border-radius: 16px;
}

.features-title {
  margin: 0;
  margin-bottom: 56px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: var(--basic-extra-dark);
  text-align: center;
}

.features-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-template-columns: 1fr 1fr;
  gap: 40px 30px;
}

.features-item {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 16px;
}

.features-item::before {
  content: "";
  display: block;
  min-width: 48px;
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.features-production::before {
  background-image: url("../img/icecream-icon.svg");
}

.features-suppliers::before {
  background-image: url("../img/cow-icon.svg");
}

.features-ingredients::before {
  background-image: url("../img/leaf-icon.svg");
}

.features-delievery::before {
  background-image: url("../img/thermometer-icon.svg");
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin-bottom: 80px;
}

.blog-item {
  padding: 32px 200px 62px 32px;
  border-radius: 16px;
  background-color: var(--basic-extra-light);
  background-image: url("../img/blog-background.jpg");
  background-repeat: no-repeat;
}

.blog-title {
  margin: 0;
}

.blog-text {
  margin: 0;
  margin-bottom: 12px;
  line-height: 20px;
}

.blog-url {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: var(--basic-extra-dark);
}

.subscription {
  padding: 6px;
  border-radius: 16px;
  background-color: var(--basic-extra-light);
  background-image: url("../img/post-background.jpg");
  background-repeat: no-repeat;
}

.subscription-container {
  margin: 0;
  padding: 25px 26px 27px 26px;
  border-radius: 16px;
  background-color: var(--basic-extra-light);
}

.subscription-text {
  margin: 0;
  margin-bottom: 42px;
}

.subscription-form {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  column-gap: 20px;
}

.delievery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  align-items: center;
  margin-bottom: 80px;
  padding: 64px 64px 64px 100px;
  background-color: var(--basic-extra-light);
  background-image: url("../img/delievery-background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.delievery-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: var(--basic-extra-dark);
}

.delievery-text {
  margin: 0;
  margin-left: -1px;
  padding: 0;
}

.delievery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  column-gap: 16px;
  padding: 40px 40px 38px 40px;
  background-color: var(--basic-extra-light);
  border-radius: 8px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
}

.delievery-form-text {
  grid-column: 1 / -1;
  margin: 0;
  margin-bottom: 32px;
}

.delievery-label {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.delievery-form-date .delievery-label::after {
  content: "";
  display: inline-block;
  margin-left: 4px;
  width: 14px;
  height: 14px;
  background-image: url("../img/info-icon.svg");
  background-repeat: no-repeat;
}

.delievery-field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.delievery-form-date {
  margin-bottom: 20px;
}

.delievery-form-phone {
  margin-bottom: 20px;
}

.delievery-form-address {
  grid-column: 1 / -1;
  margin-bottom: 28px;
}

.delievery-form-address .delievery-label::after {
  content: "";
  display: inline-block;
  margin-left: 4px;
  width: 14px;
  height: 14px;
  background-image: url("../img/info-icon.svg");
  background-repeat: no-repeat;
}

.delievery .button {
  grid-column: 1 / -1;
  margin-left: auto;
  margin-right: auto;
}

.contacts {
  display: grid;
  justify-content: start;
  padding: 64px;
  background-color: var(--basic-extra-light);
  background-image: url("../img/contacts-background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.contacts-container {
  padding: 40px 40px 36px 40px;
  min-width: 343px;
  background-color: var(--basic-extra-light);
  border-radius: 8px;
}

.contacts-list {
  margin: 0;
}

.contacts-item {
  margin-bottom: 12px;
}

.contacts-description {
  margin: 0;
  margin-bottom: 28px;
}

.contacts-address,
.contacts-phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.contacts-address {
  margin-bottom: 24px;
}

.contacts-phone {
  text-decoration: none;
}

.contacts-work-time {
  display: block;
  font-size: 14px;
  line-height: 20px;
}

.page-footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  column-gap: 30px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer-social {
  grid-column: 1 / 4;
}

.footer-menu {
  grid-column: 5 / 9;
}

.footer-nav {
  margin: 0;
  padding: 0;
  margin-left: 7px;
  padding-left: 24px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 18px;
  row-gap: 4px;
  list-style: none;
}

.footer-nav-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.nav-item-featured {
  position: relative;
}

.nav-item-featured::before {
  content: "";
  display: block;
  position: absolute;
  top: 22%;
  left: -22px;
  width: 16px;
  height: 16px;
  background-image: url("../img/heart-icon.svg");
  background-repeat: no-repeat;
}

.nav-link-featured {
  font-weight: 700;
}

.footer-copyright {
  grid-column: 10 / 13;
  margin-left: 63px;
}

.author-img-link {
  display: block;
  margin-bottom: 14px;
}

.copyright-text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: var(--basic-extra-dark);
}

.author-link {
  color: inherit;
}

.catalog-header {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  padding-top: 32px;
  margin-bottom: 40px;
}

.catalog-title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: var(--basic-extra-dark);
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  margin-right: 8px;
}

.breadcrumbs-item + .breadcrumbs-item::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 2px;
  vertical-align: middle;
  background-image: url("../img/chevrons-right.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.breadcrumbs-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  border-bottom: 1px solid var(--basic-extra-dark);
}

.breadcrumbs-item:last-child .breadcrumbs-link {
  border-bottom: none;
}

.catalog-products {
  margin-bottom: 40px;
}

.catalog-products-filter {
  margin-bottom: 48px;
}

.catalog-filter {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  flex-wrap: wrap;
  width: 810px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  border: none;
}

.catalog-filter-title {
  display: inline-block;
  padding-left: 16px;
  margin-bottom: 8px;
}

.sorting-control {
  display: block;
  padding: 8px 63px 8px 16px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  border: none;
  border-radius: 20px;
  background-color: var(--basic-light-transparent);
  background-image: url("../img/arrow-down-icon.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
  cursor: pointer;
  appearance: none;
}

.sorting-control:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.sorting-control:focus {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 2px solid var(--basic-extra-light);
  outline-offset: -2px;
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 8px;
}

.catalog-price {
  float: left;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  color: #2d3440;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-container {
  padding: 17px 16px;
  border-radius: 20px;
  background-color: var(--basic-light-transparent);
}

.range-scale {
  position: relative;
  height: 2px;
  width: 164px;
  background-color: rgba(86, 86, 86, 0.3);
  border-radius: 1px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #565c66;
}

.range-toggle {
  position: absolute;
  padding: 0;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border: 6px solid #2d3440;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
  background-color: var(--basic-extra-dark);
  border-color: var(--basic-extra-light);
}

.range-toggle:active {
  background-color: var(--basic-extra-dark);
  border-color: var(--basic-extra-dark);
  outline: none;
}

.range-toggle:not(:active):focus {
  outline: 2px solid var(--basic-extra-dark);
}

.toggle-min {
  top: -7px;
  left: -10px;
}

.toggle-max {
  top: -7px;
  right: -10px;
}

.catalog-filter-list {
  margin: 0;
  padding: 8px 16px;
  display: flex;
  list-style: none;
  border-radius: 20px;
  background-color: var(--basic-light-transparent);
}

.catalog-filter-item + .catalog-filter-item {
  margin-left: 16px;
}

.control {
  position: relative;
  display: block;
  padding-left: 24px;
  cursor: pointer;
}

.control-label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
}

.control-input[type="radio"] + .control-label::before {
  border: 1px solid #2d3440;
  border-radius: 50%;
}

.control-input[type="radio"]:hover + .control-label::before {
  border-color: var(--basic-extra-light);
}

.control-input[type="radio"]:disabled + .control-label::before {
  opacity: 0.4;
}

.control-input[type="radio"]:checked + .control-label::after {
  position: absolute;
  top: 7px;
  left: 5px;
  width: 6px;
  height: 6px;
  background-color: #2d3440;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:checked:hover + .control-label::after {
  background-color: var(--basic-extra-light);
}

.control-input[type="radio"]:disabled + .control-label::after {
  opacity: 0.4;
}

.control-input[type="checkbox"] + .control-label::before {
  background-image: url("../img/check-off.svg");
  background-repeat: no-repeat;
}

.control-input[type="checkbox"]:hover + .control-label::before {
  background-image: url("../img/check-off-hover.svg");
}

.control-input[type="checkbox"]:disabled + .control-label::before {
  background-image: url("../img/check-off-disabled.svg");
}

.control-input[type="checkbox"]:checked + .control-label::before {
  background-image: url("../img/check-on.svg");
}

.control-input[type="checkbox"]:checked:hover + .control-label::before {
  background-image: url("../img/check-on-hover.svg");
}

.control-input[type="checkbox"]:checked:disabled + .control-label::before {
  background-image: url("../img/check-on-disabled.svg");
}

.catalog-filter-item + .catalog-filter-item {
  margin-left: 16px;
}

.control {
  position: relative;
  display: block;
  padding-left: 24px;
}

.catalog-filter-button {
  padding: 8px 52px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: var(--basic-extra-dark);
  background-color: var(--basic-light-transparent);
  background-clip: padding-box;
  border: 2px solid var(--basic-extra-light);
  border-radius: 26px;
  cursor: pointer;
}

.catalog-filter-button:not(:disabled):hover {
  background-color: var(--basic-extra-light);
  border-color: var(--basic-light-transparent);
}

.catalog-filter-button:focus {
  background-color: var(--basic-extra-light);
  border-color: var(--basic-extra-dark);
  outline: none;
}

.catalog-filter-button:disabled {
  opacity: 0.4;
}

.main-catalog .product-list {
  margin-bottom: 16px;
}

.pagination-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 41px 0;
}

.pagination-container .button {
  grid-column: 2;
  justify-self: center;
}

.pagination {
  justify-self: right;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item:first-child {
  margin-right: 12px;
}

.pagination-item:last-child {
  margin-left: 12px;
}

.pagination-current {
  background-color: var(--basic-extra-light);
}

.pagination-link {
  width: 24px;
  height: 24px;
  display: block;
  text-align: center;
  line-height: 24px;
  text-decoration: none;
  color: var(--basic-extra-dark);
  border-radius: 50%;
}

.pagination-link:not(.pagination-current):not(.pagination-disabled):hover,
.pagination-link:focus {
  background-color: rgba(252, 252, 252, 0.4);
}

.pagination-link:focus {
  outline: 1px solid var(--basic-extra-dark);
  outline-offset: -1px;
}

.pagination-prev {
  background-image: url("../img/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.pagination-next {
  background-image: url("../img/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.pagination-control {
  display: none;
}

.pagination-multiple .pagination-control {
  display: block;
}

.pagination-disabled {
  opacity: 0.2;
}

.catalog-footer {
  box-shadow: 0 -1px 0 var(--basic-light-transparent);
}
